<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<title>add edit delete temp project</title>
</head>
<body ng-app="myapp" ng-controller="myctrl">
<table class="table table-striped" ng-init="getInfo()">
  
<tr>
	<th>Sno</th>
	<th>Name</th>
	<th>Email</th>
	
	</tr>

<tr><td><label>NAMe:</label><input type="text" name="" ng-model="username"></td>
	<td><label>Email:</label><input type="text" name="" ng-model="email"></td>
	<td><button ng-click="submit()" ng-hide="submitbtn">ADDRECORD</button></td>
	<td><button ng-click="updatebntn()" ng-hide="update">update</button></td>
	</tr>
	<tr ng-if="users==''"><td colspan="3" class="text-center">No recods found</td></tr>

	
	
  <tr ng-repeat="user in users">
  <td>{{$index}}</td>
 <td>{{user.name}}</td>
 <td>{{user.email}}</td>
<td><button ng-click="edit(user)">edit</button></td>
<td><button ng-click="deletebtn(user)">Delete</button></td>
	
   </tr>

   
	</table>

	<script>
		var app=angular.module("myapp",[])
		app.controller("myctrl",function($scope,$http){
		//to visible reccords of  username and email, to the users for that purpose below functionality	is
        $scope.getInfo = function () {                
                $http({
                    method: "GET",
                    url: "/GetuserDetails",
                    data: "",
                }).then(function (res) {
                    $scope.users = res.data;
                });
            }
            
$scope.submit=function(){


	  $scope.userDetails = { username: $scope.username, Email: $scope.email }
                $http({
                    method: "POST",
                    url: "/userDetails",
                    data: $scope.userDetails,
                }).then(function (res) {
                    $scope.getInfo();
                    console.log(res);
                }, function error(err) {

                })
            

	
}
$scope.edit=function(user){
	$scope.username=user.name
	$scope.email=user.email
	  $scope.update=false
	  $scope.submitbtn=true
	   $scope.getInfo();

	
	}

 	

$scope.updatebntn=function(){
	  $scope.userDetails = { updatedusername: $scope.username, updatedusermail: $scope.email }
                $http({
                    method: "POST",
                    url: "/updateUserDetails",
                    data: $scope.userDetails,
                }).then(function (res) {
                    $scope.getInfo();
                    console.log(res);
                      $scope.users = res.data;
                }, function error(err) {

                })

}
  $scope.deletebtn = function(user) {  
   $scope.username=""
  $scope.email=""
  $scope.update=true
	  $scope.submitbtn=false
	         
              
               // $scope.Edit= false;
                $http({
                    method: "POST",
                    url: "/removeUserDetails",
                    data: JSON.stringify({ removeByusername:user.name })
                }).then(function (res) {
                    if (res.data.msg.ok > 0) {
                        //$scope.removed = $scope.removeUserName;
                       
                        alert('SuccessFully Removed...!');
                        $scope.getInfo()
                    }
                    
                    
                })
            }


		})
	</script>
</body>
</html>